<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.prod.min.js" integrity="sha512-66fV4MXSQdGN0KQxZ0Bw627HalhTQYQbOoF24EtMXN2FaAoKMgAZ7nDi77d9xWwrRjEEUfE+7rxjTt+cA2IuJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js" integrity="sha512-dfX5uYVXzyU8+KHqj8bjo7UkOdg18PaOtpa48djpNbZHwExddghZ+ZmzWT06R5v6NSk3ZUfsH6FNEDepLx9hPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<title>Simple Online CSV reader</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
	<div id="app">

		<div class="container">

			<div class="p-5 bg-body-tertiary rounded-3 my-5">
				<div class="row">
					<div class="col">

						<h1>Online CSV Reader</h1>
						<p class="lead">A simple and fast online CSV reader witout upload the file.</p>

					</div>
					<div class="col-auto">
						
						<a class="btn btn-outline-secondary" href="https://github.com/andrearufo/onlinecsvreader">
							<i class="fa-fw fa-brands fa-github"></i> GitHub Repository
						</a>

					</div>

				</div>
			</div>

			<div class="card my-3">
				<div class="card-body">

					<div class="row align-items-end">
						<div class="col-lg">

							<label class="d-none" for="csv">CSV file</label>
							<input class="form-control" id="csv" name="csv" type="file" @change="loadFile" placeholder="Select your file...">

						</div>
						<div class="col-lg-2">

							<button class="btn btn-primary w-100" type="button" name="button" @click="csvToJson">Convert</button>

						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="container-fluid" v-if="table">

			<hr>

			<div class="input-group mb-3">
				<span class="input-group-text">Search:</span>
				<input type="search" class="form-control" v-model="search" placeholder="Search in table">
			</div>

			<div class="table-responsive">
				<table class="table table-stripped table-hover">
					<thead>
						<tr>
							<th v-for="(h, i) in table.meta.fields" :key="i">{{ h }}</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(d, r) in list" :key="r">
							<td v-for="(a, c) in d" :key="c">{{ a }}</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

	</div>
	<script src="script.js"></script>

</body>
</html>
