<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>

	<title>Simple csv reader</title>

</head>
<body>
	<div id="app">

		<div class="container">

			<div class="jumbotron my-3">
				<h1>Online CSV Reader</h1>
				<p class="lead">A simple and fast online CSV reader witout upload the file.</p>
			</div>

			<div class="card my-3" v-if="!table">
				<div class="card-body">

					<div class="row align-items-end">
						<div class="col-lg-8">

							<label for="csv">CSV file</label>
							<input class="form-control" id="csv" name="csv" type="file" @change="loadFile" placeholder="Select your file...">

						</div>
						<div class="col-lg-2">

							<label for="separator">Separator</label>
							<input type="text" class="form-control" id="separator" name="separator" v-model="separator" placeholder="Separator">

						</div>
						<div class="col-lg-2">

							<button class="btn btn-block btn-primary" type="button" name="button" @click="csvToJson">Convert</button>

						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="container-fluid" v-if="table">

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Search:</span>
				</div>
				<input type="search" class="form-control" v-model="search" placeholder="Search in table">
			</div>

			<table class="table table-stripped">
				<thead>
					<tr>
						<th v-for="(h, i) in table.head" :key="i">{{ h }}</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(d, r) in list" :key="r">
						<td v-for="(a, c) in d" :key="c">{{ a }}</td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>
	<script src="script.js"></script>

</body>
</html>
